<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLinkActive="active" routerLink="/">
    <img src="assets/task-manager-logo.png" height="30" class="d-inline-block align-top" alt="Task Manager Logo"
      loading="lazy" />
    Task Manager Application</a>
  <div class="mr-auto"></div>
  <div class="navbar-expand">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/task-list">Task List</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/add-task">Add Task</a>
    </div>
  </div>
</nav>